.navigation {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 1.25em;
  background-color: white;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

/* .navigation::-webkit-scrollbar{
  display: none;
} */

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: auto;
  padding: 0 1em;
}

.navigationItem a {
  color: currentColor;
}

.logo {
  font-size: xx-large;
  font-family: PublicoBanner,Times,Georgia,serif;
  color: #fff;
  background-color: #333;
  padding: 5px 10px;
}

.logolink {
  text-decoration: none ;
}
